<%= render "shared/login_form" %>

<h2>最新News</h2>
<ul>
<% 5.times do |i| %>
<li><%= link_to "Newsの見出し", "#" %></li>
<% end %>
</ul>
<h2>会員のBlog</h2>
<ul>
<% 5.times do |i| %>
<li><%= link_to "Blogの見出し", "#" %></li>
<% end %>
</ul>
